<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Arthur Luna </title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="../../style/global.css">
</head>

<body>

    <header class="hero">
        <h1>Developer</h1>
        <h2>
            <span class="html-tag">&lt;h1&gt;</span>
            Hey<br>
            I’m <span class="highlight">Arthur Luna</span>,<br>
            Front-end Developer
            <span class="html-tag">&lt;/h1&gt;</span>
        </h2>
        <p>
            <span class="html-tags">&lt;/p&gt;</span>
            I help business grow by crafting amazing web experiences. If you’re looking for a developer that likes to
            get stuff done,
            <span class="html-tags">&lt;/p&gt;</span>
        </p>

    </header>

</body>

</html>